<!DOCTYPE html>
<html>
<% include ../partials/_head %>

	<body>
		<div class="container">
			<% include ../partials/_navbar %>
				<div class="row">
					<div class="col-sm">
					</div>
					<div class="col-sm">
						<main>
							<h1>Photo - edit</h1>

							<form action="/photos/<%=photo.id%>?_method=PUT" method="POST">
								<input type="text" name="title" value="<%=photo.title%>"/> 
								<input type="text" name="url" value="<%=photo.url%>"/>
								<select name="userId">
									<% for (let i = 0; i < users.length; i++){ %>
											<option value="<%= users[i]._id %>" 
												<% if(users[i]._id.toString() === photoUser._id.toString() ) { %>
													selected
												<% } %> >
													<%= users[i].userName %>
											</option>
									<% } %>
								</select>
								<br/>
								<input type="submit" value="Update Photo" />
							</form>


						</main>
					</div>
					<div class="col-sm">
					</div>
				</div>
				<% include ../partials/_js_bs %>
	</body>

</html>