<% include ../partials/_header %>

<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h1>Edit Your Post</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<form method="POST" action="/photos/<%= photo._id %>?_method=PUT">
				<select>
					<% for (let i = 0; i < users.length; i++) { %>
						<option value="<%=users[i].id%>"
							<% if (users[i]._id.toString() === photoUser._id.toString()) { %>
								selected
							<% } %>
							> <%= users[i].username%>
						</option>
					<% } %>
				</select>
				<!-- <input type="text" name="user" value="<%= photo.user %>"> -->
				<input type="text" name="img" value="<%= photo.img %>">
				<input type="text" name="about" value="<%= photo.about %>">
				<input type="submit" value="Update Post">
			</form>
		</div>
	</div>
</div>		

<% include ../partials/_footer %>