<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header>
      <h1>Edit <%=photos.title%>'s Info</h1>
      <nav>
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/photos">Photos Index</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <h2>Photo Attributes:</h2>
      <form action="/photos/<%=photos._id%>?_method=PUT" method="post">
        <select name="userId">
          <% for(let i = 0; i < users.length; i++){ %>
            <option value="<%=users[i].id%>"
              <% if(users[i]._id.toString() === photoUsers._id.toString()){%>
                selected
              <% }%>
              > <%=users[i].name%></option>
          <% } %>
        </select>


        <input type="text" name="title" value="<%=photos.title%>"/><br/>
        <textarea name="body"><%=photos.body%></textarea><br/>
        <input type="submit" value="Update Photos"/>
      </form>
    </main>
  </body>
</html>